{
  "env": {
    "node": true
  },
  "rules": {
    // Stylistic Issues
    "indent": [2, 2],
    "brace-style": [2, "1tbs", { "allowSingleLine": false }],
    "comma-style": [2, "last"],
    "quotes": [2, "single", "avoid-escape"]
  }
}
